/* main-text #212121 */
/* second-text #757575 */
/* background-color #ffffff */
/* second-background-color #2F303A */
/* nav-button #2196F3 */
/* third-background-color #F5F4FA */

:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --background-color: #ffffff;
  --second-background-color: #2f303a;
  --nav-button-color: #2196f3;
  --third-background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* header */

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--main-text-color);
}

.web {
  color: var(--nav-button-color);
}

.header-link {
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--nav-button-color);
}

/* hero */

.hero {
  background-color: var(--second-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--background-color);
}

.button {
  font-size: 16px;
  line-height: 30px;
  background-color: var(--nav-button-color);
  color: var(--background-color);
  display: inline-block;
  border: 1px solid;
  border-color: transparent;
  border-radius: 5px;
}

/* features */

/* .title { 
  color: var(--main-text-color);
}*/

.features-title {
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.features-description {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* work */
.team {
  background-color: var(--third-background-color);
}

/* team */
.team-name {
  color: var(--main-text-color);
}

.team-position {
  color: var(--second-text-color);
}

/* footer */
.footer {
  color: var(--second-background-color);
}
